body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    background-color: #E7D0C5;
}

body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('images/banner.png');
    min-height: 800px!important;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}


.menu {
    font-size: 30px;
    color: #E7D0C5;
    font-family: 'Square Peg', cursive;
}

    .menu:hover {
        font-size: 30px;
        color: #E7D0C5;
        font-family: 'Square Peg', cursive;
        background-color: none !important;
    }





.header {
    font-family: 'Square Peg', cursive;
    font-size: 80px;
    font-weight: bold;
    color: #4B1E0D;
}

.about {
    font-size: 17px;
    color: #4B1E0D;
    line-height:2.5;
}
.about span {
font-weight:bold;
text-transform:uppercase
}
.herbs {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.join {
    font-family: 'Square Peg', cursive;
    font-size: 70px;
    font-weight: bold;
    color: #4B1E0D;
    letter-spacing: 4px;
}
.w3-black {
    background-color: #4B1E0D !important;
    margin: -80px -50px 100px 150px !important;
    font-family: 'Square Peg', cursive;
    font-size: 23px;
}
    .w3-black:hover {
        background-color: #E7D0C5 !important;
        color: #4B1E0D !important;
        border:1px solid #4B1E0D;
    }
/* Create two equal columns that floats next to each other */
.columns {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.rows:after {
    content: "";
    display: table;
    clear: both;
}

.columns h2 {
    font-family: 'Square Peg', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #4B1E0D;
    letter-spacing: 4px;
    text-align:center;
}

.columns p {
    font-size: 17px;
    color: #4B1E0D;
    line-height: 2;
    text-align: center;
}






/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}




.contact {
    font-size: 15px;
    color: #4B1E0D;
}

.footer {
    padding: 10px 0 7px 0;
    width: 100%;
    background-color: #4B1E0D;
    color: white;
    text-align: center;

}
/*responsive*/
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
        min-height: 400px;
    }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 600px) {
    .columns {
        width: 100%;
    }
}
@media screen and (min-width: 320px) {
    .w3-row, .rows {
        margin-top: -70px
    }
    .herbs {
        width: 100%;
    }
        .join {
        font-family: 'Square Peg', cursive;
        font-size: 50px;
        font-weight: bold;
        color: #4B1E0D;
        letter-spacing: 4px;
        text-align: center;
        margin-top: -5px
    }
   .rows {
        margin-top: -100px
    }
    #contact {
        margin-top: -100px
    }
    .contact {
        margin-top: -20px
    }
    .bgimg-1 {
        background-image: url('images/banner.png');
        min-height: 250px !important;
    }
    #about {
        margin-top: -70px
    }
    .columns {
        width: 100%;
    }
    .w3-black {
        margin: -40px -50px 50px 80px !important;
    }
}
@media screen and (min-width: 360px) {
    .w3-row, .rows {
        margin-top: -70px
    }
    .herbs {
        width: 100%;
    }
    .w3-black {
        margin: -40px -50px 50px 100px !important;
    }
    .join {
        font-family: 'Square Peg', cursive;
        font-size: 55px;
        font-weight: bold;
        color: #4B1E0D;
        letter-spacing: 4px;
        text-align: center;
    }
    #about {
        margin-top: -70px
    }
    .rows {
        margin-top: -100px
    }

    #contact {
        margin-top: -100px
    }

    .contact {
        margin-top: -20px
    }

    .bgimg-1 {
        background-image: url('images/banner.png');
        min-height: 250px !important;
    }
}
@media screen and (min-width: 375px) {
    .w3-row, .rows {
        margin-top: -70px
    }
    .herbs {
        width: 100%;
    }
    .w3-black {
        margin: -40px -50px 50px 110px !important;
    }
    #about {
        margin-top: -70px
    }
    .join {
        font-family: 'Square Peg', cursive;
        font-size: 55px;
        font-weight: bold;
        color: #4B1E0D;
        letter-spacing: 4px;
        text-align: center;
    }

    .rows {
        margin-top: -100px
    }

    #contact {
        margin-top: -100px
    }

    .contact {
        margin-top: -20px
    }

    .bgimg-1 {
        background-image: url('images/banner.png');
        min-height: 250px !important;
    }
}
@media screen and (min-width: 393px) {
    .w3-row, .rows {
        margin-top: -70px
    }
    .herbs {
        width: 100%;
    }
    .w3-black {
        margin: -40px -50px 50px 120px !important;
    }
    #about {
        margin-top: -70px
    }
    .join {
        font-family: 'Square Peg', cursive;
        font-size: 60px;
        font-weight: bold;
        color: #4B1E0D;
        letter-spacing: 4px;
        text-align: center;
    }

    .rows {
        margin-top: -100px
    }

    #contact {
        margin-top: -100px
    }

    .contact {
        margin-top: -20px
    }

    .bgimg-1 {
        background-image: url('images/banner.png');
        min-height: 250px !important;
    }
}
@media screen and (min-width: 428px) {
    .w3-row, .rows {
        margin-top: -70px
    }
    .herbs {
        width: 100%;
    }
    .w3-black {
        margin: -40px -50px 50px 140px !important;
    }
    #about {
        margin-top: -70px
    }
    .join {
        font-family: 'Square Peg', cursive;
        font-size: 65px;
        font-weight: bold;
        color: #4B1E0D;
        letter-spacing: 4px;
        text-align: center;
    }

    .rows {
        margin-top: -100px
    }

    #contact {
        margin-top: -100px
    }

    .contact {
        margin-top: -20px
    }

    .bgimg-1 {
        background-image: url('images/banner.png');
        min-height: 250px !important;
    }
}
@media screen and (min-width: 768px) {
    .join {
margin-top:10px
    }
    .w3-black {
        margin: -40px -50px 50px 90px !important;
    }
    .bgimg-1 {
        background-image: url('images/banner.png');
        min-height: 350px !important;
    }
    #about {
        margin-top: -70px
    }
    .column, .columns {
        width: 50%;
    }
    .imaged {
        margin-left: 60px;
    }
}
@media screen and (min-width: 820px) {
    .join {
        margin-top: 20px;
    }

    .w3-black {
        margin: -40px -50px 50px 130px !important;
    }
}

    @media screen and (min-width: 834px) {
        .join {
            margin-top: 20px;
        }

        .w3-black {
            margin: -40px -50px 50px 130px !important;
        }

        .column, .columns {
            width: 50%;
        }

        .imaged {
            margin-left: 60px;
        }
    }

    @media screen and (min-width: 880px) {


        #about {
            margin-top: -70px
        }

        .bgimg-1 {
            background-image: url('images/banner.png');
            min-height: 800px !important;
        }

        .join {
            margin-top: 30px;
            font-family: 'Square Peg', cursive;
            font-size: 70px;
            font-weight: bold;
            color: #4B1E0D;
            letter-spacing: 4px;
        }
    }

    @media screen and (min-width: 1080px) {


        #about {
            margin-top: -70px
        }
        .w3-black {
            margin: -100px -50px 50px 140px !important;
        }
        .bgimg-1 {
            background-image: url('images/banner.png');
            min-height: 800px !important;
        }

        .join {
            margin-top: 30px;
            font-family: 'Square Peg', cursive;
            font-size: 90px;
            font-weight: bold;
            color: #4B1E0D;
            letter-spacing: 4px;
            margin-right: 150px;
        }

        .imaged {
            margin-left: 150px;
        }
    }